/* custom.css */

body {
    font-family: 'Comfortaa', cursive; /* Change body font */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive; /* Change heading font */
}

/* Style for the title */
.title {
    font-family: 'Comfortaa', cursive;
    font-size: 2.5em; /* Adjust the size */
    font-weight: bold; /* Make it bold */
    color: #6e0808; /* Change color */
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Add space below the title */
}
