.title {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

body {
    font-family: 'Manrope', sans-serif; /* Use Open Sans for body text */
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Manrope', sans-serif; /* Use Barlow for headings */
    font-weight: 400; /* Bold weight for headings */
}

p {
    font-family: 'Manrope', sans-serif; /* Use Open Sans for paragraphs */
    font-weight: 400; /* Regular weight for paragraphs */
}

li {
    font-family: 'Manrope', sans-serif; /* Use Open Sans for list items */
    font-weight: 400; /* Regular weight for paragraphs */
}

ul.posts {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0.5rem;
  }
  
ul.posts li {
    position: relative;
    padding-left: 1.25rem;
    line-height: 1.25rem;
    font-size: 1rem;
}
  
  /* Custom bullet points using ::before */
  
ul.posts li::before {
    content: ""; /* Empty content for the bullet */
    position: absolute; /* Position it absolutely */
    left: 0; /* Align to the left */
    top: 0; /* Align to the top */
    width: 0.3rem; /* Width of the bullet */
    height: 0.3rem; /* Height of the bullet */
    background-color: #B0BEC5; /* Change bullet color */
    border-radius: 50%; /* Make it round */
    margin-top: .5rem; /* Align with text */
}
