.site-title {
    color: #1DA1F2; /* Replace with your desired color */
}
.title {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: #1DA1F2;
}

body {
    font-family: 'Barlow', sans-serif; /* Use Open Sans for body text */
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow', sans-serif; /* Use Barlow for headings */
    font-weight: 400; /* Bold weight for headings */
}

p {
    font-family: 'Barlow', sans-serif; /* Use Open Sans for paragraphs */
    font-weight: 400; /* Regular weight for paragraphs */
}

li {
    font-family: 'Barlow', sans-serif; /* Use Open Sans for list items */
    font-weight: 400; /* Regular weight for paragraphs */
}

ul.posts {
    list-style-type: none; /* Remove default bullets */
    padding-left: 0.5rem;
  }
  
ul.posts li {
    position: relative;
    padding-left: 1.25rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    font-size: 1.15rem;
}
  
/* Custom bullet points using ::before */
  
ul.posts li::before {
    content: ""; /* Empty content for the bullet */
    position: absolute; /* Position it absolutely */
    left: 0; /* Align to the left */
    top: 0; /* Align to the top */
    width: 0.3rem; /* Width of the bullet */
    height: 0.3rem; /* Height of the bullet */
    background-color: #CFD8DC; /* Change bullet color */
    border-radius: 50%; /* Make it round */
    margin-top: .7rem; /* Align with text */
}

/* Date */

.post-date {
    display: flex;
    justify-content: space-between;
    text-align: right; /* Align text to the right */
    margin-left: auto; /* Push the date to the right */
    color: #78909C;
    font-size: 1rem;
}
